.add-form{
    position: relative;
    width: 12em;
    top: 0em;
    left: 4em;
    transform: translate(-50%);
    padding-bottom: 1.2em;
    font-size: 23px;
    max-width: 10rem; 
}

.form-frame{
    position: relative;
    background-color:rgb(255, 243, 227);
    height: 22em;
    width: 30em;
    top:  1em;
    left: 15.8em;
    transform: translate(-50%);
    border-radius: 1.3%;
    border: 2.1px rgb(77, 77, 77) solid;

    transition: opacity 0.5s; 
    opacity: 1;
}

.form-frame label{
    position: absolute;
    transform: translate(-10%);
    height: 2.5em;
    width: 2.5em;
}

.form-frame input{
    position: absolute;
    right: 0%;
    transform: translate(-40%);
    height: 2.5em;
    width: 20em;
    background-color: rgb(207, 244, 246);
    text-align: center;
    color: #4c394e;
}

.form-frame .add-new-b{
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    height: 2.5em;
    width: 100%;
    text-align: center;
    font-size: 1.7em;
}


.form-frame input::placeholder{
    color: #4c394e;
}


.form-frame label.nb-id{
    left: 14.4%;
    bottom: 13.0em;
}

.form-frame input.nb-id{
    bottom: 16.7em;
}

.form-frame .nb-id-auto{
    height: 1.5em;
    width: 1.5em;
    left: 80.7%;
    transform: translate(-0.8em);
    bottom: 17.1em;
    border: 3px rgb(77, 77, 77) solid;
    box-shadow: 1px 1px 1px 1px #000000;
}

.form-frame .nb-id-auto:checked{
    accent-color: #10bbd5;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #000000;
}

.form-frame label.nb-name{
    left: 8.8%;
    bottom: 10.6em;
}

.form-frame input.nb-name{
    bottom: 13.9em;
}

.form-frame label.nb-price{
    left: 8.8%;
    bottom: 8.4em;
}

.form-frame input.nb-price{
    bottom: 11.2em;
}

.form-frame label.nb-img-url{
    left: 12%;
    bottom: 6.2em;
}

.form-frame input.nb-img-url{
    bottom: 8.5em;
}

.form-frame label.nb-info{
    left: 4.8%;
    bottom: 4em;
}

.form-frame input.nb-info{
    bottom: 5.8em;
}

.form-frame .nb-btn{
    position: absolute;
    background-color: #10bbd5;
    border-color: #0ea6bd;
    font-family: 'Roboto, sans-serif';
    color: #fff;
    line-height: 1.9rem;
    height: 2.4rem;
    border-radius: .6rem;
    width: 5.2em;
    cursor: pointer;
    transition: color 0.5s; 
}

.form-frame .nb-submit-btn{
    left: 60%;
    bottom: 1.7em;
    transform: translate(50%);

}

.form-frame .nb-submit-btn:hover{
    background-color: #b6f3fc;
}

.form-frame .nb-cancel-btn{
    left: 40%;
    bottom: 1.7em;
    transform: translate(50%);
}

.form-frame .nb-cancel-btn:hover{
    background-color: #b6f3fc;
}

.op-zero {
    opacity: 0;
}

